* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'IBM Plex Sans', sans-serif;
}

.nav {
    height: 62px;
    background-color: #caced1;
    margin-top: 0;
    background: hsla(0,0%,100%,.75);
    border-top: 1px solid transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .3s;
    z-index: 1000;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 62px;
}

.header__logo {
    display: block;
    text-align: center;
    display: block;
    width: 175px;
    height: 45px;
    padding: 0;
    background: url(../../../themes/motogo/images/logo.svg) no-repeat;
    background-size: 175px 45px;
    background-position: left;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__top-right--list {
    list-style: none;
    display: flex;
}

.header__top-right--item {
    margin: 0 6px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    border-radius: 4px;
    opacity: 0.8;
    color: #000;
    text-decoration: none;
}

.header__top-right--item:hover {
    opacity: 1;
}

.header__top-right--item.list-policy:hover .subnav-policy {
    display: block;
}

.subnav-policy {
    list-style: none;
    position: absolute;
    width: 320px;
    background-color: #fff;
    border-radius: 6px;
    display: none;
    left: 0%;
    top: 110%;
}

.subnav-policy::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 22px;
    top: -6%;
}

.item-policy,
.item-tour {
    padding-left: 14px;
    height: 45px;
    line-height: 45px;
    margin: 5px;
    border-radius: 4px;
}

.item-policy:hover,
.item-tour:hover {
    background-color: rgb(228, 228, 228);
}

.header__top-right--item.list-tour:hover .subnav-tour {
    display: block;
}

.subnav-tour {
    list-style: none;
    position: absolute;
    width: 150px;
    background-color: #fff;
    border-radius: 6px;
    display: none;
    top: 110%;
    right: -11%;
}

.subnav-tour::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 22px;
    top: -6%;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    min-height: calc(100vh - 72px);
    background: url(../img/background.jpg) no-repeat;
    background-position: 50%;
    object-fit: cover;
}

.header-image::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.65);
    text-align: center;
    z-index: 2;
}

.container {
    z-index: 3;
    margin-top: 70px;
}

.title-slogan {
    color: #fff;
    margin-top: -16%!important;

}

.title-slogan h1 {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.title-slogan p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

.car-rental-wrapper {
    background: #00000085;
    padding: 30px;
    height: 420px;
    border-radius: 4px;
}

.inputs label {
    color: #fff;
}

#location,
#date,
#email,
.submit-btn {
    width: 400px;
    height: 40px;
    border-radius: 4px;
}

.main-wrapper {
    display: block;
    margin-left: 10px;
}

#date {
    padding-left: 12px;
}


#email {
    overflow: hidden;
    background-color: #fff;
}

.submit-btn {
    height: 46px;
    background-color: #ffc107;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.car-rental-wrapper {
    margin-top: 60px;
}

.inner img {
    object-fit: cover;
    width: 285px;
    height: 205px;
}

.inner span {
    text-align: center;
}

.inner {
    position: relative;
    cursor: pointer;
}

.inner-text {
    position: absolute;
    bottom: 45%;
    right: 32%;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;

}

.inner::before {
    content: " ";
    background-color: rgba(0, 0, 0,0.45);
    position: absolute;
    top: 0;
    left: 1px;
    width: 101%;
    height: 98%;
    transition: all .3s;
}

.inner:hover .inner-text {
    color: #ffc107;
}

.inner:hover::before {
    background-color: rgba(0, 0, 0,0.6);
}

.location__get {
    margin-top: 50px;
    margin-bottom: 70px;
}

.location__get--title {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
}

.location__get--title::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #ffc107;
    top: 36px;
    right:calc(46% + 9px);
}

.category__car-text {
    margin-bottom: 30px;
    text-align: center;
    padding-top: 70px;
}

.category__car {
    background-color:#495057;
    height: 1000px;
}

.category__car-title {
    color: #ffc107;
    position: relative;
    margin-bottom: 50px;
    cursor: pointer;
}

.category__car-title::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #ffc107;
    top: 36px;
    right:calc(45% + 9px);
}

.category__car-paragraph {
    color: #fff;
    width: 943px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

.category__item {
    background-color: #ebeced;
    position: relative;
    height: 580px;
    border-radius: 6px;
    cursor: pointer;
}

.category__item::after {
    content: "";
    position: absolute;
    background-color:#fbc626 ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0.5);
    opacity: 0;
    transition: all ease-out 0.25s;
    border-radius: 6px;
}

.category__item:hover::after {
    transform: scale(1);
    opacity: 0.7;
}

.category__item:hover .category__item-header--price {
    color: #fff;
    transition: all ease-out 0.25s;
}

.category__item-header {
    position: relative;
    z-index: 2;
    padding-top: 48px;
}

.category__item-header--title {
    font-size: 30px;
    font-weight: 300;
}

.category__item-header--title span{
    font-weight: 700;
}

.category__item-header--price {
    color: #ffc107;
    font-size: 20px;
    font-weight: 400;
    z-index: -1;
}

.category__item-header--price span {
    font-size: 30px;
    font-weight: 900;
}

.category__item-info ul {
    list-style: none;
}

.category__item-info li {
    font-size: 14px;
    margin: 10px 0;
}

.category__item-info li i {
    font-size: 12px;
    margin-right: 5px;
}

.category__item-img img {
    width: 100%;
    margin-bottom: 60px;
    z-index: 5;
    position: relative;
    padding-left: 0;
}

.category__item:hover .category__item-img--btn {
    display: block;
    transition-delay: 2s;
    transition: all linear 10s;
    opacity: 1;
}

.category__item-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category__item-header,
.category__item-info {
    padding: 0 15px 0 30px;
}

.category__item-header {
    padding-top: 50px;
}

.cta-bottom {
    margin-top: 52px;
}

.line-bottom {
    position: relative;
    margin-bottom: 0;
}

.line-bottom::after {
    content: "";
    width: 100%;
    top: 17px;
    left: 0;
    position: absolute;
    border-top: 1px solid #ebeced;
}

.cta-bottom p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}

.btn-price {
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    position: relative;
    background-color: #ffc107;
    text-decoration: none;
    color: #000;
    width: 318px;
    height: 36px;
    display: block;
    margin: 0 auto;
    line-height: 36px;
    z-index: 4;
}

.btn-price:hover {
    background-color: #ebeced;
}

.introduce {
    background-color: #ebeced;
    padding: 65px 0 80px;
}

.introduce-inner-icon {
    line-height: 80px;
    font-size: 40px;
    width: 80px;
    height: 80px;
    background: #fff;
    margin: 15px auto;
    display: block;
    border-radius: 100px;
    text-align: center;
}

.introduce-inner-heading {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color:#212531;
}

.introduce-inner-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.procedure {
    margin-top: 70px;
    margin-bottom: 80px;
}

.procedure-container-heading {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
}

.procedure-container-heading::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #ffc107;
    top: 36px;
    right:calc(44% + 13px);
}

.procedure-inner-title {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
}

.procedure-inner ul {
    list-style: none;
}

.procedure-inner ul li {
    font-size: 15px;
    margin: 5px;
}

.footer {
    background-color: #1e1e1e;
}

.footer-container {
    padding-top: 50px;
}

.widget-title {
    color: #ffc80b;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
}

.widget-content {
    margin-top: 20px;
}

.widget-content p {
    color: #b9b2b2;
    font-size: 14px;
    margin: 14px 0;
}

.widget-content p i {
    margin-right: 5px;
    font-size: 14px;
}

.social-link {
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    font-size: 20px;
    margin-left: -12px;
    cursor: pointer;
}

.facebook {
    color: #1877F2;
}

.instagram {
    color: #E4405F;
}

.linkedin {
    color: #0A66C2;
}

.twitter {
    color: #1DA1F2;
}

.pinterest {
    color: #BD081C;
}

.youtube {
    color:#CD201F;
}

.widget-content p a {
    color: #b9b2b2;
    text-decoration: none;
}

.widget-content p a:hover {
    color: #ffc107;
}

.widget-text {
    font-size: 18px;
    font-weight: 600;
}

.link {
    display: flex;
    align-items: center;
}

.copyright {
    background-color: #000;
    height: 45px;
    color: #b9b2b2;
    font-size: 12px;
    line-height: 45px;
    text-align: center;
}

.zalo-chat {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    position: fixed;
    z-index: 3;
    bottom: 160px;
    right: 30px;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
}

.mess-chat {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    position: fixed;
    z-index: 3;
    bottom: 100px;
    right: 30px;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
}
