:root {
    --primary-color: #4daf54;
}


.container {
    
    padding-bottom: 80px;
    margin-top: 0;
}
.bg-blue{
    background-image: linear-gradient(to right, #4daf54, #3d8880) ;
}

.search-header {
    position: relative;
    margin-bottom: 150px;
}

.search-landing-header-container {
    position: relative;
}

.search-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.search-image-container img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.search-landing-image-text {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-70%);
    left: 30%;
    right: 30%;
    color: #fff;
}

.search-landing-heading {
    font-size: 80px;
    margin-bottom: 10px;
}

.search-landing-heading-text {
    font-size: 20px;
}

.search-results-details {
    position: absolute;
    top: calc(91% + 10px);
    transform: translateX(107%);
}

.search-input-container i {
    margin-left: 20px;
}

.search-input-container {
    width: 482px;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: -0px 1px 5px rgb(0, 0, 0, 0.3);
}

.search-input {
    border: none;
    height: 100%;
    padding-right: 40px;
    padding-left: 10px;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

section#search-suggest-button {
    position: absolute;
    top: 116%;
    right: 18%;
    left: calc(26% + 5px);
}

.search-suggest-button--btn {
    color: #000;
    background-color: #fff;
    border: none;
    margin: 0 10px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 600;
}

.search-suggest-button--btn.active {
    background-color: #272d40;
    color: var(--primary-color);
}

.search-suggest-button--btn.active:hover {
    background-color: #272d40;
}

.search-suggest-button--btn:hover {
    background-color: rgb(39, 45, 64, .4);
}

.wrap{
    display: flex;
    flex-direction: column;
}

.box-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item-moto {
    background-color: #272d40;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.4);
    width: calc(23% + 4px);
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}

.item__img {
    width: 100%;
    transition: 0.5s ;
}

.item__img img {
    width: 100%;
    object-fit: cover;
}

.item__title, .item__price {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: 0.5s;
}

.item__price {
    margin-bottom: 10px;
}

.item__title {
    color: var(--primary-color);
}

.item__action {
    margin-top: 100px;
    margin-bottom: -150px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.item__action button {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
    font-size: 13px;
}

.item__action button:hover {
    transform: scale(0.95);
}

.item-moto:hover .item__img {
    transform: translateY(-50px) rotate(-20deg);
}

.item-moto:hover .item__title {
    transform: translate(-38px, -40px);
}

.item-moto:hover .item__price {
    transform: translate(-33px, -40px);
}

.item-moto:hover .item__action {
    visibility: visible;
    opacity: 100;
    margin-bottom: 0;
    margin-top: 0;
}

#showtext {
    text-align: center;
}

.modal, .modal__more {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.form__rent {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  position: relative;
  top: 10%;
  margin: auto;
  border-radius: 6px;
  animation: form ease-in 0.3s;
}

@keyframes form {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.form__heading {
    font-size: 20px;
}

.form__close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.form__close:hover {
    transform: scale(1.2);
    color: red;
}

.form__group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.form__label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 16px;
  float: left;
}

.form__control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 12px;
  width: 100%;
}

.form__control:hover {
    border-color: #1dbfaf;
}
  
.form__message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form__submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}
  
.form__submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 30px;
}

.hide {
    display: none;
}

.modal__message,.modal__error {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-left: 6px solid #1ac7b6;
    height: 90px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 70px;
    right: 12px;
    overflow: hidden;
    transform: translateX(calc(100% + 12px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.modal__error {
    border-left: 6px solid red !important;
}

.modal__message.active,.modal__error.active {
    transform: translateX(0%);
}

.modal__content h1{
    font-size: 18px;
}

.modal__title i {
    color: #1ac7b6;
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
}

.modal__content i {
    font-size: 14px;
    color: rgb(144, 144, 144);
}

.modal__title {
    display: flex;
    align-items: center;
}

.success__close {
    position: absolute;
    top: 12px;
    right: 18px;
    cursor: pointer;
}

.success__close:hover {
    transform: scale(1.2);
    color: red;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ddd;
}

 .progress.active::before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

.progress::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #1ac7b6;
}

.modal__more--moto {
    background-color: #fff;
    width: 70vw;
    position: absolute;
    top: 16%;
    left: 14%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;
    animation: form ease-in 0.3s;
}

.modal__more--title {
    width: 50%;
    margin-right: 20px;
}

.modal__more--title img {
    width: 100%;
    border: 1px dashed var(--primary-color);
    border-radius: 5px;
}

.modal__more--content {
    width: 50%;
}

.more__name {
    color: var(--primary-color);
}

.more__price {
    color: red;
}

.more__list {
    list-style: none;
    position: relative;
}

.more__list i {
    position: absolute;
    top: -3%;
    right:-5px;
    padding: 10px;
    font-size: 20px;
    transition: all linear 0.15s;
    cursor: pointer;
}

.more__list i:hover {
    transform: scale(1.2);
    color: red;
}

.more__list h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.more__item {
    display: flex;
    margin: 20px 0;
}

.more__item--para {
    width: 60%;
}

.more__item--sub-para {
    width: 40%;
}