

.frameupload {
    position: relative;
    top: 3%;
    left: 40%;
    width: 220px;
    height: 160px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(to top right, rgba(77, 141, 214, 0.96) 0%, #71b6f9 100%);
    color: #333;
}

.centerupload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 140px;
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.titless {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #999;
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.dropzone {
    width: 100px;
    height: 90px;
    border: 1px dashed #999;
    border-radius: 3px;
    text-align: center;
}

.upload-icon {
    margin: 5px 2px 2px 2px;
    width: 20%;
}

.upload-input {
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.submbtn {
    display: block;
    width: 140px;
    height: 60px;
    background: #000ff9;
    color: #fff;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 3px 0 0 #71b6f9;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.submbtn:hover {
    background: #f500ff;
    box-shadow: 0 3px 0 0 #71b6f9;
    color: white;
}

.btnxoa{
    opacity: 0;
}

.showdel:hover .btnxoa{
    opacity: 1;
    transition: 1s;
    z-index: 2;
}
.hoverbg:hover{
    opacity: 0.8;
}

